# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
# Ignore Python Venv files
Docs/Include
DOCS/Lib
DOCS/Scripts
DOCS/pyvenv.cfg
/LEC001A/.idea/
/.idea/
